.block {
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 0 18px;
}

.block__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.block__item {
    cursor: pointer;
    width: 31.5%;
    padding: 26px 25px 25px;
    background: #EEF1FC;
    box-shadow: 0px 10px 20px rgba(130, 143, 169, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: .3s all;
    min-height: 117px;
}
.block__item:nth-child(n + 4) {
    margin-top: 36px;
}
.block__item:hover  {
    background: #e0e2ee;
}
.block__item-img {
    margin-right: 14px;
}
.block__title {
    font-family: TT Commons;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    color: $purple;
    text-decoration: none;
}

@media (max-width: map-get($tablet, lg) - 19) {
    .block__inner {
        flex-wrap: wrap;
    }
    .block__item {
        width: 100%;
    }
    .block__item + .block__item {
        margin-top: 20px;
    }
};
@media (max-width: map-get($mobile, md)) {
    .block__item {
        padding: 20px;
        padding-left: 29px;
        min-height: 90px;
    }
    .block__item-img {
        margin-right: 20px;
        img {
            height: 50px;
            width: 50px;
        }
    }
    .block__title {
        font-size: 22px;
        line-height: 25px;
    }
};
@media (max-width: map-get($mobile, sm) - 16) {
    .block__item {
        padding: 10px;
        line-height: 22px;
        .block__title {
            font-size: 17px;
        }
    }
};