.good-form__title {
    font-family: TT Commons;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 80px;
    text-align: center;
    color: #D22730;
    text-align: center;
    margin-bottom: 48px;
}
.good-form {
    margin-top: 72px;
}
.good-form__descr {
    font-family: TT Commons;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 64px;
    color: #000000;
}   
.good-form__descr {
    width: 100%;
    text-align: center;
}
.good-form__home {
    font-family: TT Commons;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    text-decoration-line: underline;
    text-align: center;
    color: #504587;
    margin: 0 auto;
    width: 100%;
}